@media (prefers-color-scheme: light) {
  :root {
    --color-text: #151515;
    --color-background: #f8f9fb;
    --color-card-background: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f8f9fb;
    --color-background: #151515;
    --color-card-background: #151515;
  }
}
